/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #5c5c4d;
    color: #fff;
    position: relative;
    }
    
    .title {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
    .nav {
    margin-right: 30px;
    }
    
    .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    }
    
    .nav li {
    list-style-type: none;
    display: inline-block;
    }
    
    .nav a:hover {
    text-decoration: underline;
    }
    
    /* About */
    
    .about {
    background-color: #646454;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 500px;
    }
    
    .about-text {
    margin: 0px 50px 40px 40px;
    }
    
    .about img {
    padding: 0px 50px 0px 90px;
    width: 400px;
    height: 350px;
    }
    
    .about-text h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    }
    
    .about-text p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    }
    
    .btn {
    display: inline-block;
    background-color: #292923;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.2s;
    }
    
    .btn:hover {
    background-color: #545464;
    }
    
    /* Profiles */
    
    h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    margin: 50px 0px 10px 0px;
    }
    
    .profiles {
    display: flex;
    justify-content: center;
    }
    
    .profile {
    width: 300px;
    margin: 20px;
    position: relative;
    }
    
    .profile img {
    width: 100%;
    height: 320px;
    }
    
    .profiles h3 {
    color: #000;
    font-size: 24px;
    text-align: center;
    }
    
    .profiles p {
    color: #000;
    font-size: 10px;
    text-align: center;
    }
    
    /* Quote */
    .quote {
    background-color: #f7f7f7;
    text-align: center;
    margin-bottom: 40px;
    }
    
    .quote h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    /* Call to Action */
    .cta {
    background-color: #21211c;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }
    
    .cta-content {
    position: relative;
    z-index: 1;
    text-align: center;
    }
    
    .cta h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    }
    
    .cta p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 50px;
    }
    
    .btn-white {
    background-color: #10100d;
    color: #10100d;
    text-decoration: none;
    border: 2px solid #10100d;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.2s;
    margin: 20px;
    }
    
    /* .btn-white:hover {
    background-color: #10100d;
    color: #1a1a1a;
    } */
    
    .btn-red {
    background-color: #10100d;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 16px;
    margin-left: 210px;
    transition: background-color 0.2s;
    }
    
    .btn-red:hover {
    background-color: #080806;
    }
    
    /* Footer */
    
    .footer {
    background-color: #10100d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 16px;
    text-align: center;
    }
    
    .footer-text {
    margin-right: 10px;
    }
    
    .footer-text a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    }
    
    .footer-text a:hover {
    text-decoration: underline;
    }